// Colors

$gray-100: #fff;
$gray-200: #f6f8fa;
$gray-300: #e8e8e8;
$gray-400: #cdcfd1;
$gray-500: #b3b5b8;
$gray-600: #93999e;
$gray-700: #6d7176;
$gray-800: #444c59;
$gray-900: #2e333c;

.bg-gray-100 { background-color: $gray-100; color: $gray-900; }
.bg-gray-200 { background-color: $gray-200; color: $gray-900; }
.bg-gray-300 { background-color: $gray-300; color: $gray-900; }
.bg-gray-400 { background-color: $gray-400; color: $gray-900; }
.bg-gray-500 { background-color: $gray-500; color: $gray-900; }
.bg-gray-600 { background-color: $gray-600; color: $gray-600; }
.bg-gray-700 { background-color: $gray-700; color: $gray-100; }
.bg-gray-800 { background-color: $gray-800; color: $gray-100; }
.bg-gray-900 { background-color: $gray-900; color: $gray-100; }

$red-100: #fcf1ef;
$red-200: #f7d7d2;
$red-300: #f2beb5;
$red-400: #f0948b;
$red-500: #f65747;
$red-600: #d64e41;
$red-700: #d7351c;
$red-800: #b92e18;
$red-900: #9b2614;

.bg-red-100 { background-color: $red-100; color: $gray-900; }
.bg-red-200 { background-color: $red-200; color: $gray-900; }
.bg-red-300 { background-color: $red-300; color: $gray-900; }
.bg-red-400 { background-color: $red-400; color: $gray-900; }
.bg-red-500 { background-color: $red-500; color: $red-500; }
.bg-red-600 { background-color: $red-600; color: $red-600; }
.bg-red-700 { background-color: $red-700; color: $gray-100; }
.bg-red-800 { background-color: $red-800; color: $gray-100; }
.bg-red-900 { background-color: $red-900; color: $gray-100; }

$yellow-100: #faf4ea;
$yellow-200: #fef0ad;
$yellow-300: #fce491;
$yellow-400: #fad860;
$yellow-500: #ffc328;
$yellow-600: #f6af47;
$yellow-700: #cf8b23;
$yellow-800: #956419;
$yellow-900: #694712;

.bg-yellow-100 { background-color: $yellow-100; color: $gray-900; }
.bg-yellow-200 { background-color: $yellow-200; color: $gray-900; }
.bg-yellow-300 { background-color: $yellow-300; color: $gray-900; }
.bg-yellow-400 { background-color: $yellow-400; color: $gray-900; }
.bg-yellow-500 { background-color: $yellow-500; color: $gray-900; }
.bg-yellow-600 { background-color: $yellow-600; color: $gray-900; }
.bg-yellow-700 { background-color: $yellow-700; color: $yellow-700; }
.bg-yellow-800 { background-color: $yellow-800; color: $gray-100; }
.bg-yellow-900 { background-color: $yellow-900; color: $gray-100; }

$green-100: #eef6e8;
$green-200: #d4e8c3;
$green-300: #72d0a3;
$green-400: #21bc9c;
$green-500: #17a688;
$green-600: #10985f;
$green-700: #07804d;
$green-800: #05603a;
$green-900: #034026;

.bg-green-100 { background-color: $green-100; color: $gray-900; }
.bg-green-200 { background-color: $green-200; color: $gray-900; }
.bg-green-300 { background-color: $green-300; color: $gray-900; }
.bg-green-400 { background-color: $green-400; color: $gray-900; }
.bg-green-500 { background-color: $green-500; color: $green-500; }
.bg-green-600 { background-color: $green-600; color: $green-600; }
.bg-green-700 { background-color: $green-700; color: $gray-100; }
.bg-green-800 { background-color: $green-800; color: $gray-100; }
.bg-green-900 { background-color: $green-900; color: $gray-100; }

$blue-100: #e1eff9;
$blue-200: #b7d8f0;
$blue-300: #84bafa;
$blue-400: #539ef8;
$blue-500: #3b74fc;
$blue-600: #2c5ed6;
$blue-700: #3a5dae;
$blue-800: #29427b;
$blue-900: #353d5f;

.bg-blue-100 { background-color: $blue-100; color: $gray-900; }
.bg-blue-200 { background-color: $blue-200; color: $gray-900; }
.bg-blue-300 { background-color: $blue-300; color: $gray-900; }
.bg-blue-400 { background-color: $blue-400; color: $blue-400; }
.bg-blue-500 { background-color: $blue-500; color: $blue-500; }
.bg-blue-600 { background-color: $blue-600; color: $gray-100; }
.bg-blue-700 { background-color: $blue-700; color: $gray-100; }
.bg-blue-800 { background-color: $blue-800; color: $gray-100; }
.bg-blue-900 { background-color: $blue-900; color: $gray-100; }

// Typography

$base-font-size: 16px;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

.font-weight-light { font-weight: $font-weight-light; }
.font-weight-regular { font-weight: $font-weight-regular; }
.font-weight-medium { font-weight: $font-weight-medium; }
.font-weight-semibold { font-weight: $font-weight-semibold; }
.font-weight-bold { font-weight: $font-weight-bold; }

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', courier, Helvetica, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  font-size: $base-font-size;
  font-weight: $font-weight-regular;
  line-height: ($base-font-size * 1.75);
  letter-spacing: -($base-font-size * 0.01);
}

a {
  color: $gray-900;
  text-decoration: none;
}

p {
  font-size: $base-font-size;
  line-height: ($base-font-size * 1.5);
  letter-spacing: -($base-font-size * 0.01);

  &.sm {
    font-size: ($base-font-size * 0.8125);
    line-height: ($base-font-size * 1.375);
    margin-bottom: ($base-font-size * 1.25);
  }

  a {
    text-decoration: underline;
  }
}

.heading {
  &-xs {
    font-size: ($base-font-size * 0.8125);
    font-weight: $font-weight-medium;
    line-height: ($base-font-size * 0.8125);
    letter-spacing: 0;
    margin-bottom: 1em;
  }

  &-sm {
    font-size: ($base-font-size * 1.125);
    font-weight: $font-weight-medium;
    line-height: ($base-font-size * 1.75);
    letter-spacing: -($base-font-size * 0.02);
    margin-bottom: $base-font-size;
  }

  &-md {
    font-size: ($base-font-size * 1.5);
    font-weight: $font-weight-medium;
    line-height: ($base-font-size * 1.75);
    letter-spacing: -($base-font-size * 0.02);
    margin-bottom: $base-font-size;
  }

  &-lg {
    font-size: ($base-font-size * 2.5);
    font-weight: $font-weight-bold;
    line-height: ($base-font-size * 3);
    letter-spacing: -($base-font-size * 0.03);
  }

  &-xl {
    font-size: ($base-font-size * 3.75);
    font-weight: $font-weight-bold;
    line-height: ($base-font-size * 4.5625);
    letter-spacing: -($base-font-size * 0.03);
  }
}

code {
  background-color: $gray-300;
  border: 1px solid $gray-400;
  border-radius: ($base-font-size * 0.25);
  color: $red-600;
  font-size: ($base-font-size * 0.75);
  line-height: $base-font-size;
  padding: ($base-font-size * 0.25) ($base-font-size * 0.5);
}

// Buttons

.ts-button-sm, 
.ts-button-md, 
.ts-button-lg {
  border-radius: ($base-font-size * 0.375);
  cursor: pointer;
  font-size: ($base-font-size * 0.8125);
  font-weight: $font-weight-medium;
  line-height: ($base-font-size * 2);
  min-width: ($base-font-size * 4);
  padding: 0 ($base-font-size * 0.75);
  text-align: center;

  &.primary {
    background-color: $gray-900;
    color: $gray-100;
    transition: background-color 500ms;
    svg { fill: $gray-100; }

    &:hover, &:active {
      background-color: $gray-800;
    }

    &.success {
      background-color: $green-600;
      color: $gray-100;

      &:hover, &:active {
        background-color: $green-400;
        color: $gray-100;
      }
    }

    &.error {
      background-color: $red-700;
      color: $gray-100;

      &:hover,
      &:active {
        background-color: $red-500;
        color: $gray-100;
      }
    }
  }

  &.secondary {
    background-color: $gray-100;
    border: 1px solid $gray-800;
    color: $gray-900;
    line-height: ($base-font-size * 1.875);
    svg { fill: $gray-900; }

    &:hover, &:active {
      border-color: $gray-700;
      color: $gray-700;
      svg { fill: $gray-700; }
    }

    &.success {
      border-color: $green-600;
      color: $green-600;
      svg { fill: $green-600; }

      &:hover, &:active {
        border-color: $green-400;
        color: $green-400;
        svg { fill: $green-400; }
      }
    }

    &.error {
      border-color: $red-700;
      color: $red-700;
      svg { fill: $red-700; }

      &:hover, &:active {
        border-color: $red-500;
        color: $red-500;
        svg { fill: $red-500; }
      }
    }
  }

  &.white {
    background-color: $gray-100;
    color: $gray-900;
    svg { fill: $gray-900; }

    &:hover, &:active {
      color: $gray-700;
      svg { fill: $gray-700; }
    }

    &.success {
      color: $green-600;
      svg { fill: $green-600; }

      &:hover, &:active {
        color: $green-400;
        svg { fill: $green-400; }
      }
    }

    &.error {
      color: $red-700;
      svg { fill: $red-700; }

      &:hover, &:active {
        color: $red-500;
        svg { fill: $red-500; }
      }
    }
  }

  &.disabled, &:disabled {
    background-color: $gray-300;
    border: none;
    color: $gray-500;
    svg { fill: $gray-500; }

    &:hover, &:active {
      background-color: $gray-300;
      color: $gray-500;
    }
  }

  &.icon {
    text-align: left;

    svg {
      display: inline-block;
      height: ($base-font-size * 0.875);
      padding-right: ($base-font-size * 0.375);
      vertical-align: text-top;
    }
  }
}

.ts-button-lg {
  font-size: ($base-font-size * 0.875);
  padding: ($base-font-size * 0.15) ($base-font-size * 2);

  &.icon {
    padding-left: ($base-font-size * 0.75);

    svg {
      height: $base-font-size;
    }
  }
}

.ts-button-md {
  padding: ($base-font-size * 0.15) $base-font-size;
}

.ts-button-nav {
  border: 1px solid;
  border-radius: ($base-font-size * 0.25);
  min-width: ($base-font-size * 3);
  padding: 0 $base-font-size;
  text-align: center;
}

// Inputs

.ts-input {
  border: 1px solid $gray-600;
  border-radius: ($base-font-size * 0.375);
  color: $gray-900;
  font-size: ($base-font-size * 0.8125);
  height: ($base-font-size * 2.25);
  line-height: ($base-font-size * 2.25);
  padding: 0 ($base-font-size * 0.75);
  position: relative;

  &::placeholder {
    color: $gray-600;
  }

  &:focus,
  &:focus-within {
    border-color: $gray-900;
    box-shadow: 0 0 0 3px $gray-300;
    outline: 0;

    &::placeholder {
      color: transparent;
    }
  }
}

.ts-input-help {
  color: $gray-700;
  font-size: ($base-font-size * 0.6875);
  line-height: ($base-font-size * 2);
}

.ts-input-label {
  display: inline-block;
  font-size: ($base-font-size * 0.75);
  font-weight: $font-weight-medium;
  margin-bottom: ($base-font-size * 0.175);
}

.ts-input-leading {
  .ts-input {
    padding-left: ($base-font-size * 2.25);
  }

  span {
    left: ($base-font-size * 0.75);
  }

  &.add-on {
    .ts-input {
      padding-left: ($base-font-size * 4.75);
    }

    span {
      background-color: $gray-200;
      border-right: 1px solid $gray-700;
      border-top-left-radius: ($base-font-size * 0.375);
      border-bottom-left-radius: ($base-font-size * 0.375);
      left: 1px;
      padding: 0 ($base-font-size * 0.75);
      top: ($base-font-size * 2.125);
    }
  }

  &.status {
    .ts-input {
      padding-left: ($base-font-size * 2);
    }

    span {
      left: ($base-font-size * 0.5);
      margin-left: ($base-font-size * 0.375);
    }
  }
}

.ts-input-trailing {
  .ts-input {
    padding-right: ($base-font-size * 2.5);
  }

  span {
    right: ($base-font-size * 0.75);
  }
}

.ts-input-leading, .ts-input-trailing {
  position: relative;

  span {
    display: block;
    font-size: ($base-font-size * 0.8125);
    height: ($base-font-size * 2.25);
    line-height: ($base-font-size * 2.25);
    position: absolute;
  }

  &.icon span {
    top: ($base-font-size * 2.25);

    svg {
      height: $base-font-size;
    }
  }

  &.status span {
    background-color: $green-500;
    border-radius: ($base-font-size * 0.5);
    height: ($base-font-size * 0.5);
    top: ($base-font-size * 3);
    width: ($base-font-size * 0.5);
  }

  &.text span {
    top: ($base-font-size * 2.125);
  }
}

.ts-input-select {
  position: relative;

  select.ts-input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: $gray-100 url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E") right 8px center no-repeat;
    background-size: auto $base-font-size;
    padding-right: ($base-font-size * 2);
  }

  &.icon {
    .ts-input {
      padding-left: ($base-font-size * 2.25);
    }

    span {
      position: absolute;
      top: ($base-font-size * 2.4375);
      left: ($base-font-size * 0.75);

      svg {
        height: $base-font-size;
      }
    }
  }

  &.status {
    position: relative;

    .ts-input {
      padding-left: ($base-font-size * 2);
    }

    span {
      background-color: $gray-400;
      border-radius: ($base-font-size * 0.5);
      height: ($base-font-size * 0.5);
      position: absolute;
      top: ($base-font-size * 3);
      left: ($base-font-size * 0.75);
      width: ($base-font-size * 0.5);
    }

    select[data-selected='online'] + span {
      background-color: $green-500;
    }

    select[data-selected='offline'] + span {
      background-color: $red-500;
    }
  }
}

.disabled {
  .ts-input {
    background-color: $gray-300;
    border-color: $gray-500;
    color: $gray-500;

    &::placeholder {
      color: $gray-500;
    }
  }
}

.error {
  .ts-input {
    border-color: $red-600;
    color: $red-700;

    &::placeholder {
      color: $red-700;
    }
  }

  &.add-on span {
    background-color: $red-100;
    border-color: $red-600;
    color: $red-700;
  }

  &.icon svg {
    fill: $red-600;
  }

  &.status span {
    background-color: $red-600;
  }

  &.text span {
    color: $red-700;
  }

  .ts-input-help {
    color: $red-700;
  }
}

// Hats

.ts-alert {
  font-size: ($base-font-size * 0.8125);
  font-weight: $font-weight-medium;
  line-height: ($base-font-size * 2.5);
  padding: 0 ($base-font-size * 2);
  text-align: left;

  &-yellow {
    background-color: $yellow-100;
    border: 1px solid $yellow-400;
    color: $yellow-700;

    svg {
      color: $yellow-700;
    }
  }

  &-green {
    background-color: $green-100;
    border: 1px solid $green-400;
    color: $green-700;

    svg {
      color: $green-700;
    }
  }

  &-red {
    background-color: $red-100;
    border: 1px solid $red-400;
    color: $red-700;

    svg {
      color: $red-700;
    }
  }
}

// Primary navigation

.ts-burger {
  align-self: center;
  flex: 0 0 auto;
  height: ($base-font-size * 2);

  svg {
    cursor: pointer;
    fill: $gray-900;
    height: ($base-font-size * 0.5);
    padding: ($base-font-size * 0.75) 0;
    width: ($base-font-size * 1.25);
  }
}

.ts-close {
  align-self: center;
  display: none;
  flex: 0 0 auto;
  height: ($base-font-size * 2);
  margin-right: ($base-font-size * 0.5);

  svg {
    cursor: pointer;
    fill: $gray-900;
    height: ($base-font-size * 0.875);
    padding: 0;
    width: ($base-font-size * 0.875);
  }
}

.ts-drawer {
  background-color: $gray-100;
  display: none;
}

.ts-header {
  background-color: $gray-100;
  border-bottom: 1px solid $gray-800;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
}

.ts-logo {
  align-self: center;
  background: url("data:image/svg+xml,%3Csvg width='111' height='16' viewBox='0 0 111 16' fill='%23353D5F' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M109.634 8.10088L107.189 8.10797L107.189 3.81244L102.894 3.81244L102.901 1.36696L109.634 1.36696L109.634 8.10088Z' fill='%233A5DAE' /%3E%3Cpath d='M1 3.66971H5.11587V14.7727H7.92543V3.66971H12.0413V1.32568H1V3.66971Z' /%3E%3Cpath d='M15.4293 14.9696C17.9238 14.9696 19.6043 13.7549 19.9981 11.8837L17.4118 11.7129C17.1295 12.4812 16.4074 12.8817 15.4753 12.8817C14.077 12.8817 13.1909 11.9559 13.1909 10.4523V10.4457H20.0572V9.67752C20.0572 6.25011 17.9829 4.55611 15.3177 4.55611C12.3506 4.55611 10.4272 6.66377 10.4272 9.776C10.4272 12.9736 12.3244 14.9696 15.4293 14.9696ZM13.1909 8.71233C13.2499 7.56329 14.123 6.64407 15.3637 6.64407C16.5781 6.64407 17.4183 7.51077 17.4249 8.71233H13.1909Z' /%3E%3Cpath d='M23.833 14.9631C25.3232 14.9631 26.2881 14.313 26.7805 13.3741H26.8592V14.7727H29.5112V7.97038C29.5112 5.56726 27.4763 4.55611 25.2313 4.55611C22.8156 4.55611 21.227 5.71171 20.8397 7.55016L23.4261 7.76027C23.6164 7.09055 24.2138 6.59811 25.2181 6.59811C26.17 6.59811 26.7148 7.07742 26.7148 7.90472V7.94412C26.7148 8.59414 26.0256 8.6795 24.2729 8.85021C22.2773 9.03406 20.4852 9.70378 20.4852 11.9559C20.4852 13.9519 21.9097 14.9631 23.833 14.9631ZM24.6339 13.0327C23.774 13.0327 23.1569 12.6322 23.1569 11.864C23.1569 11.0761 23.8068 10.6887 24.7914 10.5508C25.4019 10.4654 26.3997 10.321 26.7345 10.0977V11.168C26.7345 12.2251 25.8614 13.0327 24.6339 13.0327Z' /%3E%3Cpath d='M30.7565 14.7727H33.5529V8.71889C33.5529 7.60269 34.2619 6.86074 35.194 6.86074C36.1131 6.86074 36.7301 7.49107 36.7301 8.48252V14.7727H39.4412V8.61384C39.4412 7.56986 40.0386 6.86074 41.056 6.86074C41.9488 6.86074 42.6184 7.41884 42.6184 8.54161V14.7727H45.4082V7.99008C45.4082 5.80363 44.1085 4.55611 42.2311 4.55611C40.7541 4.55611 39.6053 5.31119 39.1918 6.46679H39.0867C38.7651 5.29806 37.7345 4.55611 36.3494 4.55611C34.9905 4.55611 33.9599 5.27836 33.5398 6.46679H33.4217V4.68743H30.7565V14.7727Z' /%3E%3Cpath d='M55.0822 7.5633C54.8327 5.70514 53.336 4.55611 50.7891 4.55611C48.2093 4.55611 46.5091 5.7511 46.5156 7.69461C46.5091 9.20477 47.4609 10.1831 49.4302 10.577L51.1764 10.925C52.056 11.1023 52.4564 11.424 52.4696 11.9296C52.4564 12.5271 51.8065 12.9539 50.8285 12.9539C49.8307 12.9539 49.1677 12.5271 48.997 11.7064L46.2465 11.8508C46.5091 13.7812 48.1502 14.9696 50.8219 14.9696C53.4345 14.9696 55.3054 13.6368 55.3119 11.6473C55.3054 10.1897 54.3535 9.31639 52.3973 8.91587L50.5724 8.54818C49.6337 8.34464 49.2858 8.02291 49.2924 7.53703C49.2858 6.93297 49.9685 6.53901 50.835 6.53901C51.8065 6.53901 52.3842 7.07085 52.5221 7.72088L55.0822 7.5633Z' /%3E%3Cpath d='M58.945 8.94214C58.9516 7.64209 59.7459 6.88044 60.8881 6.88044C62.0237 6.88044 62.6933 7.60926 62.6867 8.85021V14.7727H65.4831V8.3512C65.4897 5.98748 64.098 4.55611 61.9974 4.55611C60.4679 4.55611 59.4439 5.27836 58.9844 6.46679H58.8662V1.32568H56.1486V14.7727H58.945V8.94214Z' /%3E%3Cpath d='M69.6348 14.9631C71.1249 14.9631 72.0899 14.313 72.5822 13.3741H72.661V14.7727H75.313V7.97038C75.313 5.56726 73.278 4.55611 71.033 4.55611C68.6173 4.55611 67.0287 5.71171 66.6414 7.55016L69.2278 7.76027C69.4182 7.09055 70.0155 6.59811 71.0199 6.59811C71.9717 6.59811 72.5165 7.07742 72.5165 7.90472V7.94412C72.5165 8.59414 71.8273 8.6795 70.0746 8.85021C68.079 9.03406 66.2869 9.70378 66.2869 11.9559C66.2869 13.9519 67.7114 14.9631 69.6348 14.9631ZM70.4356 13.0327C69.5757 13.0327 68.9586 12.6322 68.9586 11.864C68.9586 11.0761 69.6085 10.6887 70.5932 10.5508C71.2037 10.4654 72.2015 10.321 72.5362 10.0977V11.168C72.5362 12.2251 71.6632 13.0327 70.4356 13.0327Z' /%3E%3Cpath d='M76.5582 14.7727H79.3547V9.06689C79.3547 7.82593 80.2606 6.97236 81.4947 6.97236C81.882 6.97236 82.4137 7.03802 82.6763 7.12338V4.64147C82.4268 4.58237 82.0789 4.54298 81.7966 4.54298C80.6676 4.54298 79.742 5.19957 79.3744 6.44709H79.2693V4.68743H76.5582V14.7727Z' /%3E%3Cpath d='M87.3235 14.9696C89.818 14.9696 91.4985 13.7549 91.8923 11.8837L89.306 11.7129C89.0237 12.4812 88.3016 12.8817 87.3695 12.8817C85.9713 12.8817 85.0851 11.9559 85.0851 10.4523V10.4457H91.9514V9.67752C91.9514 6.25011 89.8771 4.55611 87.2119 4.55611C84.2448 4.55611 82.3215 6.66377 82.3215 9.776C82.3215 12.9736 84.2186 14.9696 87.3235 14.9696ZM85.0851 8.71233C85.1441 7.56329 86.0172 6.64407 87.2579 6.64407C88.4723 6.64407 89.3125 7.51077 89.3191 8.71233H85.0851Z'/%3E%3Cpath d='M101.241 7.5633C100.992 5.70514 99.4952 4.55611 96.9482 4.55611C94.3684 4.55611 92.6682 5.7511 92.6748 7.69461C92.6682 9.20477 93.6201 10.1831 95.5894 10.577L97.3355 10.925C98.2152 11.1023 98.6156 11.424 98.6287 11.9296C98.6156 12.5271 97.9657 12.9539 96.9876 12.9539C95.9898 12.9539 95.3268 12.5271 95.1561 11.7064L92.4057 11.8508C92.6682 13.7812 94.3093 14.9696 96.9811 14.9696C99.5937 14.9696 101.465 13.6368 101.471 11.6473C101.465 10.1897 100.513 9.31639 98.5565 8.91587L96.7316 8.54818C95.7929 8.34464 95.445 8.02291 95.4516 7.53703C95.445 6.93297 96.1277 6.53901 96.9942 6.53901C97.9657 6.53901 98.5434 7.07085 98.6812 7.72088L101.241 7.5633Z' /%3E%3C/svg%3E%0A") 0 0 no-repeat;
  content: '';
  flex: 0 0 auto;
  height: $base-font-size;
  width: ($base-font-size * 7);
}

.ts-nav {
  align-content: stretch;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding: ($base-font-size * 1.25) ($base-font-size * 1.5);
}

// xs sm md

@media (max-width: 1023px) {
  .ts-drawer {
    .ts-links {
      padding: ($base-font-size * 1.5) ($base-font-size * 1.5) 0;

      a {
        background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39205 11.483L11.6932 6.18181L6.39205 0.880676L5.36932 1.89772L8.92045 5.44318H0L0 6.92045H8.92045L5.36932 10.4716L6.39205 11.483Z' fill='%232E333C'/%3E%3C/svg%3E%0A") right 8px top no-repeat;
        background-size: auto $base-font-size;
        border-bottom: 1px solid $gray-900;
        display: block;
        font-weight: $font-weight-medium;
        line-height: $base-font-size;
        margin-bottom: ($base-font-size * 1.5);
        padding: 0 ($base-font-size * 2) ($base-font-size * 1.5) 0;
        text-overflow: ellipsis;
      }
    }
  }

  .ts-nav {
    .ts-links {
      display: none;
    }
  }

  .open {
    &.ts-drawer {
      display: block;
    }

    &.ts-header {
      .ts-burger {
        display: none;
      }

      .ts-close {
        display: block;
      }
    }
  }
}

// lg xl

@media (min-width: 1024px) {
  .ts-burger, 
  .ts-close, 
  .ts-drawer {
    display: none;
  }

  .ts-links {
    align-self: center;
    flex: 1 1 auto;
    height: ($base-font-size * 2);
    overflow: hidden;
    text-align: right;

    a {
      color: $gray-900;
      font-size: ($base-font-size * 0.875);
      font-weight: $font-weight-medium;
      line-height: ($base-font-size * 1.875);
      margin-right: ($base-font-size * 2);
    }
    
    .ts-button-nav {
      display: inline-block;
      margin-right: 0;
    }
  }

  .ts-nav {
    padding: ($base-font-size * 1.25) ($base-font-size * 3.75);
  }
}

// blue

.bg-blue-900 {

  .ts-burger svg {
    fill: $gray-200;
  }

  .ts-close svg path {
    stroke: $gray-200;
  }

  .ts-drawer {
    background-color: $blue-900;

    .ts-links a {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='%23cdcfd1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39205 11.483L11.6932 6.18181L6.39205 0.880676L5.36932 1.89772L8.92045 5.44318H0L0 6.92045H8.92045L5.36932 10.4716L6.39205 11.483Z' fill='%23cdcfd1'/%3E%3C/svg%3E%0A");

      &:hover,
      &:active {
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='%23FFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39205 11.483L11.6932 6.18181L6.39205 0.880676L5.36932 1.89772L8.92045 5.44318H0L0 6.92045H8.92045L5.36932 10.4716L6.39205 11.483Z' fill='%23FFF'/%3E%3C/svg%3E%0A");
      }
    }
  }

  .ts-header {
    background-color: $blue-900;
    border-color: $gray-200;
  }

  .ts-logo {
    background-image: url("data:image/svg+xml,%3Csvg width='111' height='16' viewBox='0 0 111 16' fill='%23FFF' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M109.634 8.10088L107.189 8.10797L107.189 3.81244L102.894 3.81244L102.901 1.36696L109.634 1.36696L109.634 8.10088Z' /%3E%3Cpath d='M1 3.66971H5.11587V14.7727H7.92543V3.66971H12.0413V1.32568H1V3.66971Z' /%3E%3Cpath d='M15.4293 14.9696C17.9238 14.9696 19.6043 13.7549 19.9981 11.8837L17.4118 11.7129C17.1295 12.4812 16.4074 12.8817 15.4753 12.8817C14.077 12.8817 13.1909 11.9559 13.1909 10.4523V10.4457H20.0572V9.67752C20.0572 6.25011 17.9829 4.55611 15.3177 4.55611C12.3506 4.55611 10.4272 6.66377 10.4272 9.776C10.4272 12.9736 12.3244 14.9696 15.4293 14.9696ZM13.1909 8.71233C13.2499 7.56329 14.123 6.64407 15.3637 6.64407C16.5781 6.64407 17.4183 7.51077 17.4249 8.71233H13.1909Z' /%3E%3Cpath d='M23.833 14.9631C25.3232 14.9631 26.2881 14.313 26.7805 13.3741H26.8592V14.7727H29.5112V7.97038C29.5112 5.56726 27.4763 4.55611 25.2313 4.55611C22.8156 4.55611 21.227 5.71171 20.8397 7.55016L23.4261 7.76027C23.6164 7.09055 24.2138 6.59811 25.2181 6.59811C26.17 6.59811 26.7148 7.07742 26.7148 7.90472V7.94412C26.7148 8.59414 26.0256 8.6795 24.2729 8.85021C22.2773 9.03406 20.4852 9.70378 20.4852 11.9559C20.4852 13.9519 21.9097 14.9631 23.833 14.9631ZM24.6339 13.0327C23.774 13.0327 23.1569 12.6322 23.1569 11.864C23.1569 11.0761 23.8068 10.6887 24.7914 10.5508C25.4019 10.4654 26.3997 10.321 26.7345 10.0977V11.168C26.7345 12.2251 25.8614 13.0327 24.6339 13.0327Z' /%3E%3Cpath d='M30.7565 14.7727H33.5529V8.71889C33.5529 7.60269 34.2619 6.86074 35.194 6.86074C36.1131 6.86074 36.7301 7.49107 36.7301 8.48252V14.7727H39.4412V8.61384C39.4412 7.56986 40.0386 6.86074 41.056 6.86074C41.9488 6.86074 42.6184 7.41884 42.6184 8.54161V14.7727H45.4082V7.99008C45.4082 5.80363 44.1085 4.55611 42.2311 4.55611C40.7541 4.55611 39.6053 5.31119 39.1918 6.46679H39.0867C38.7651 5.29806 37.7345 4.55611 36.3494 4.55611C34.9905 4.55611 33.9599 5.27836 33.5398 6.46679H33.4217V4.68743H30.7565V14.7727Z' /%3E%3Cpath d='M55.0822 7.5633C54.8327 5.70514 53.336 4.55611 50.7891 4.55611C48.2093 4.55611 46.5091 5.7511 46.5156 7.69461C46.5091 9.20477 47.4609 10.1831 49.4302 10.577L51.1764 10.925C52.056 11.1023 52.4564 11.424 52.4696 11.9296C52.4564 12.5271 51.8065 12.9539 50.8285 12.9539C49.8307 12.9539 49.1677 12.5271 48.997 11.7064L46.2465 11.8508C46.5091 13.7812 48.1502 14.9696 50.8219 14.9696C53.4345 14.9696 55.3054 13.6368 55.3119 11.6473C55.3054 10.1897 54.3535 9.31639 52.3973 8.91587L50.5724 8.54818C49.6337 8.34464 49.2858 8.02291 49.2924 7.53703C49.2858 6.93297 49.9685 6.53901 50.835 6.53901C51.8065 6.53901 52.3842 7.07085 52.5221 7.72088L55.0822 7.5633Z' /%3E%3Cpath d='M58.945 8.94214C58.9516 7.64209 59.7459 6.88044 60.8881 6.88044C62.0237 6.88044 62.6933 7.60926 62.6867 8.85021V14.7727H65.4831V8.3512C65.4897 5.98748 64.098 4.55611 61.9974 4.55611C60.4679 4.55611 59.4439 5.27836 58.9844 6.46679H58.8662V1.32568H56.1486V14.7727H58.945V8.94214Z' /%3E%3Cpath d='M69.6348 14.9631C71.1249 14.9631 72.0899 14.313 72.5822 13.3741H72.661V14.7727H75.313V7.97038C75.313 5.56726 73.278 4.55611 71.033 4.55611C68.6173 4.55611 67.0287 5.71171 66.6414 7.55016L69.2278 7.76027C69.4182 7.09055 70.0155 6.59811 71.0199 6.59811C71.9717 6.59811 72.5165 7.07742 72.5165 7.90472V7.94412C72.5165 8.59414 71.8273 8.6795 70.0746 8.85021C68.079 9.03406 66.2869 9.70378 66.2869 11.9559C66.2869 13.9519 67.7114 14.9631 69.6348 14.9631ZM70.4356 13.0327C69.5757 13.0327 68.9586 12.6322 68.9586 11.864C68.9586 11.0761 69.6085 10.6887 70.5932 10.5508C71.2037 10.4654 72.2015 10.321 72.5362 10.0977V11.168C72.5362 12.2251 71.6632 13.0327 70.4356 13.0327Z' /%3E%3Cpath d='M76.5582 14.7727H79.3547V9.06689C79.3547 7.82593 80.2606 6.97236 81.4947 6.97236C81.882 6.97236 82.4137 7.03802 82.6763 7.12338V4.64147C82.4268 4.58237 82.0789 4.54298 81.7966 4.54298C80.6676 4.54298 79.742 5.19957 79.3744 6.44709H79.2693V4.68743H76.5582V14.7727Z' /%3E%3Cpath d='M87.3235 14.9696C89.818 14.9696 91.4985 13.7549 91.8923 11.8837L89.306 11.7129C89.0237 12.4812 88.3016 12.8817 87.3695 12.8817C85.9713 12.8817 85.0851 11.9559 85.0851 10.4523V10.4457H91.9514V9.67752C91.9514 6.25011 89.8771 4.55611 87.2119 4.55611C84.2448 4.55611 82.3215 6.66377 82.3215 9.776C82.3215 12.9736 84.2186 14.9696 87.3235 14.9696ZM85.0851 8.71233C85.1441 7.56329 86.0172 6.64407 87.2579 6.64407C88.4723 6.64407 89.3125 7.51077 89.3191 8.71233H85.0851Z'/%3E%3Cpath d='M101.241 7.5633C100.992 5.70514 99.4952 4.55611 96.9482 4.55611C94.3684 4.55611 92.6682 5.7511 92.6748 7.69461C92.6682 9.20477 93.6201 10.1831 95.5894 10.577L97.3355 10.925C98.2152 11.1023 98.6156 11.424 98.6287 11.9296C98.6156 12.5271 97.9657 12.9539 96.9876 12.9539C95.9898 12.9539 95.3268 12.5271 95.1561 11.7064L92.4057 11.8508C92.6682 13.7812 94.3093 14.9696 96.9811 14.9696C99.5937 14.9696 101.465 13.6368 101.471 11.6473C101.465 10.1897 100.513 9.31639 98.5565 8.91587L96.7316 8.54818C95.7929 8.34464 95.445 8.02291 95.4516 7.53703C95.445 6.93297 96.1277 6.53901 96.9942 6.53901C97.9657 6.53901 98.5434 7.07085 98.6812 7.72088L101.241 7.5633Z' /%3E%3C/svg%3E%0A");
  }

  .ts-links a {
    border-color: $gray-400;
    color: $gray-400;
    letter-spacing: 0;

    &:hover,
    &:active {
      border-color: $gray-100;
      color: $gray-100;
    }
  }
}

// For Style Guide only

#monorepo-ui {
  background-color: $gray-200;
  color: $gray-900;

  .flex {
    align-content: stretch;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;

    div {
      align-self: auto;
    }
  }

  .wrapper {
    margin: 0 auto ($base-font-size * 5);
    max-width: 1280px;
    padding: 0 ($base-font-size * 3.75);

    &:not(#typography) .heading-sm {
      margin-bottom: ($base-font-size * 2);
    }
  }

  #buttons .flex div {
    height: ($base-font-size * 6);
    width: 18%;

    span {
      display: inline-block;
    }
  }

  #colors {
    padding-top: ($base-font-size * 10);

    .flex div {
      background-color: $gray-100;
      border-radius: ($base-font-size * 0.5);
      flex-grow: 1;
      margin: 0 ($base-font-size * 1.25) ($base-font-size * 1.75) 0;

      &:last-child {
        margin-right: 0;
      }

      > span {
        border-top-left-radius: ($base-font-size * 0.5);
        border-top-right-radius: ($base-font-size * 0.5);
        display: block;
        font-size: ($base-font-size * 0.875);
        font-weight: $font-weight-medium;
        height: ($base-font-size * 5);
        padding: ($base-font-size * 0.25) $base-font-size 0 0;
        text-align: right;
      }

      p.sm {
        color: $gray-700;
        padding: 0 ($base-font-size * 0.75);

        > span {
          display: block;
          font-weight: $font-weight-light;
        }
      }
    }
  }

  #inputs {
    .column > div { height: ($base-font-size * 7.5); }
    .ts-input { width: ($base-font-size * 18); }
    .add-on .ts-input { width: ($base-font-size * 15.5); }
    .ts-input-trailing .ts-input { width: ($base-font-size * 17.5); }
  }

  #navs {
    .ts-header {
      margin-top: ($base-font-size * 4);
      position: static;
      z-index: auto;
    }

    .ts-drawer {
      height: ($base-font-size * 30);

      &.open {
        margin-bottom: ($base-font-size * 4);
      }
    }
  }

  #selects {
    .column > div { height: ($base-font-size * 8); }
    .ts-input { width: ($base-font-size * 20); }
  }

  #typography .flex > div {
    &.overview {
      max-width: ($base-font-size * 20);
    }

    &.styles {
      padding-left: ($base-font-size * 7);

      > div {
        margin-bottom: $base-font-size;
      }

      p.sm:not(.demo) {
        margin: ($base-font-size * 0.5) ($base-font-size * 0.5) ($base-font-size * 2);
        text-align: right;
      }

      p.demo, [class^="heading"] {
        background-color: $gray-100;
        border-radius: 8px;
        margin-bottom: 0;
        padding: ($base-font-size * 2);
      }
    }
  }

  footer {
    height: 200px;
  }
}

// Breakpoints
// sm => @media (min-width: 640px) { }
// md => @media (min-width: 768px) { }
// lg => @media (min-width: 1024px) { }
// xl => @media (min-width: 1280px) { }
