@layer components {
  .ts-heading-1 {
    @apply text-7xl font-bold leading-none tracking-tight;
  }

  .ts-heading-2 {
    @apply text-6xl font-bold leading-none tracking-tight;
  }

  .ts-heading-3 {
    @apply text-5xl font-bold leading-none tracking-tight;
  }

  .ts-heading-4 {
    @apply text-4xl font-bold leading-tight tracking-tight;
  }

  .ts-heading-5 {
    @apply text-2xl font-bold leading-7 tracking-tight;
  }

  .ts-heading-6 {
    @apply text-xl font-medium leading-6 tracking-tight;
  }

  .ts-heading-7 {
    @apply text-base font-semibold leading-5 tracking-tight;
  }

  .ts-heading-8 {
    @apply text-sm font-semibold leading-5 tracking-tight;
  }

  .ts-subheading {
    @apply text-xs font-semibold leading-4 tracking-normal uppercase;
  }

  .ts-body-large {
    @apply text-xl font-normal leading-7 tracking-normal;
  }

  .ts-body-1 {
    @apply text-base font-normal leading-6 tracking-normal;
  }

  .ts-body-2 {
    @apply text-sm font-normal leading-5 tracking-normal;
  }

  .ts-body-3 {
    @apply text-xs font-normal leading-4 tracking-normal;
  }
}
