{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": [
    "standard"
  ],
  "ignorePatterns": [],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 11,
    "sourceType": "module"
  },
  "root": true,
  "rules": {
    "quotes": [2, "double"],
    "semi": ["error", "always"],
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ]
  }
}
