{
  "*.scss": ["stylelint --fix --color --config .stylelintrc.json"],
  "src/*.{js,jsx,ts,tsx}": ["eslint --fix", "rollup --config rollup.config.js --quiet"],
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --fix", "rollup --config rollup.config.js --quiet"]
}
